*{
    font-family: Arial, Helvetica, sans-serif;
}

.divpai-login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#121214;
}

.divfilho {
    display: flex;
    flex-direction: column;
    background: #7b7777;
    align-items: center;
    width: 350px;
    height: 250px;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
}

.divfilho h1 {
    color: #fff;
    margin: 10px;
}

.divfilho form {
    display: flex;
    width: 220px;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}



.divfilho input  {
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 5px;
    border: none;
    width:220px;
}

.divfilho button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background: #46464d;
    color: #FFf;
    transition: ease;
    margin-bottom: 10px;
}

.divfilho button:hover {

    background: #4e4e53;
    transform: scale(1.1);
    transition: all 0.1s;
}