*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.divpai {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#121214;
}

.divfilhorecuperar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background: #7b7777;
    align-items: center;
    width: 350px;
    height: 130px;
    border-radius: 4px;
    text-align: center;
}

.divfilhorecuperar p {
    color: #fff;

}

.divfilhorecuperar input {
    width: 170px;
    height: 40px;
}

.divfilhorecuperar button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background: #46464d;
    color: #FFf;
    transition: ease;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
}

.divfilhorecuperar button:hover {

    background: #4e4e53;
    transform: scale(1.1);
    transition: all 0.1s;
}