body {
    background-color: rgb(43, 43, 43);
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conteudo-postar form{
    flex-direction: column;
    display: flex;
    padding: 10px;
    background: rgb(80, 79, 79);
    align-items: center;
    margin-top: 10px;
    border: 2px solid rgb(192, 189, 189);
    width: 330px;
    border-radius: 5px;
}

.inputs {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: none;
}

textarea {
    resize: none;
}

.usuario-nome {

    font-size: 12px;
}



.estilizacao-reacoes {
    text-align: right;
}

button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}











.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}

.container form {
    display: flex;
    flex-direction: column;
    height: 100px;   
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 203px 0 10px 0;
    border-radius: 4px;
    background: rgb(80, 79, 79);
    border: 2px solid rgb(192, 189, 189);
}





.renderizar-conteudo{

 background: rgb(80, 79, 79);
 border: 2px solid rgb(192, 189, 189);
 border-radius: 5px;
 color: #fff;
 display: block;
 height: auto;
 padding: 30px;
 width: 500px;
 margin-top: 30px;
}

.renderizar-conteudo p {
    margin-bottom: 10px;
}